[Desktop Entry]
Name=Revel
Comment=Note taking brainstorming app
Exec=<PATH_TO_REVEL_BIN>
Icon=<PATH_TO_REVEL_ICON>
Terminal=false
Type=Application
Categories=Utility;Application;